In [18]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

billionaire_metadata_path = "data/Billionaire.csv"

# Read the billionaire data
billionaire_metadata = pd.read_csv(billionaire_metadata_path)
billionaire_df = pd.DataFrame(billionaire_metadata)

display(billionaire_df)

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,$177 B,United States,Amazon,1,57.0,Technology
1,Elon Musk,$151 B,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,$150 B,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,$124 B,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,$97 B,United States,Facebook,5,36.0,Technology
...,...,...,...,...,...,...,...
2750,Daniel Yong Zhang,$1 B,China,e-commerce,2674,49.0,Technology
2751,Zhang Yuqiang,$1 B,China,Fiberglass,2674,65.0,Manufacturing
2752,Zhao Meiguang,$1 B,China,gold mining,2674,58.0,Metals & Mining
2753,Zhong Naixiong,$1 B,China,conglomerate,2674,58.0,Diversified
2754,Zhou Wei family,$1 B,China,Software,2674,54.0,Technology

In [19]:
billionaire_df.isnull().sum(axis = 1)

0       0
1       0
2       0
3       0
4       0
       ..
2750    0
2751    0
2752    0
2753    0
2754    0
Length: 2755, dtype: int64

In [20]:
cleaned_df = billionaire_df.dropna(axis=1)

print(cleaned_df)

                          Name NetWorth        Country         Source  Rank  \
0                   Jeff Bezos   $177 B  United States         Amazon     1
1                    Elon Musk   $151 B  United States  Tesla, SpaceX     2
2     Bernard Arnault & family   $150 B         France           LVMH     3
3                   Bill Gates   $124 B  United States      Microsoft     4
4              Mark Zuckerberg    $97 B  United States       Facebook     5
...                        ...      ...            ...            ...   ...
2750         Daniel Yong Zhang     $1 B          China     e-commerce  2674
2751             Zhang Yuqiang     $1 B          China     Fiberglass  2674
2752             Zhao Meiguang     $1 B          China    gold mining  2674
2753            Zhong Naixiong     $1 B          China   conglomerate  2674
2754           Zhou Wei family     $1 B          China       Software  2674

              Industry
0           Technology
1           Automotive
2     Fashion & Retail
3           Technology
4           Technology
...                ...
2750        Technology
2751     Manufacturing
2752   Metals & Mining
2753       Diversified
2754        Technology

[2755 rows x 6 columns]

In [21]:
password="postgres"
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Billionaire')
connection = engine.connect()
cleaned_df.to_sql(name='person', con=engine, if_exists='append', index=False)