In [ ]:
import psycopg2
import pandas as pd
import config as cfg
from sqlalchemy import create_engine

In [ ]:
#Data buckets for source of wealth and education

sow_billionaire_id_container = []
sow_container                = []
education_billionaire_id_container = []
education_container = []

In [ ]:
# Read the billionaire data

billionaire_metadata  = pd.read_csv(cfg.forbes_billionaire_csv_path)
bronze_billionaire_df = pd.DataFrame(billionaire_metadata) 
bronze_billionaire_df.head(2) #table is already sorted by net-worth

In [ ]:
bronze_billionaire_df.isnull().sum()

In [ ]:
#lower case all column names for postgreSQL
#Source: https://cmdlinetips.com/2020/07/cleaning_up_pandas-column-names/

bronze_billionaire_df.rename(columns=str.lower,inplace=True)

In [ ]:
#persist the raw-unmodified data to the database

password="postgres"
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Billionaire')
connection = engine.connect()
bronze_billionaire_df.to_sql(name='bronze_billionaire', con=engine, if_exists='replace', index=False)

In [ ]:
#Clone to bronze table to proceed with work on the silver version of the data

silver_billionaire_df = bronze_billionaire_df[:102].copy()
print(silver_billionaire_df.count())

In [ ]:
#Rename columns
silver_billionaire_df.rename(columns={"name"      : "display_name", 
                                      "source"    : "source_of_wealth",
                                      "rank"      : "wealth_rank",
                                      "status"    : "relationship_status",
                                      "self_Made" : "is_self_made",
                                      "networth"  : "net_worth",
                                      "self_made" : "is_self_made",
                                      "geometry"  : "geometry"}, inplace=True)
silver_billionaire_df.head(2)

In [ ]:
#Clean the Name column and remove reference for "& family" and "family"
#Source: https://stackoverflow.com/questions/37593550/replace-method-not-working-on-pandas-dataframe

silver_billionaire_df["display_name"].replace({"& family": '', "family": ''}, inplace=True, regex=True)
silver_billionaire_df["display_name"] = silver_billionaire_df["display_name"].str.strip()
silver_billionaire_df.head(2)

In [ ]:
#Create new columns for first name, middle name, and last name
df1 = pd.DataFrame(columns=['first_name','middle_name','last_Name','suffix'])
silver_billionaire_df = silver_billionaire_df.join(df1, how="outer")

In [ ]:
#Explode the name column to populate first name, middle name, last name, and suffix where appropriate

for (idx, data_row) in silver_billionaire_df.iterrows():
    
    name_parts = data_row["display_name"].split()
        
    if len(name_parts) == 2:
        
        silver_billionaire_df.at[idx,'first_name'] = name_parts[0]
        silver_billionaire_df.at[idx,'last_name']  = name_parts[1]       

    elif len(name_parts) == 3:
        
        silver_billionaire_df.at[idx,'first_name']  = name_parts[0]
        
        if "," in name_parts[1]:
            
            cleaned_name = name_parts[1].replace(",",'')
            suffix = name_parts[2]
            
            silver_billionaire_df.at[idx,'first_name'] = name_parts[0]
            silver_billionaire_df.at[idx,'last_name']  = cleaned_name
            silver_billionaire_df.at[idx,'suffix']     = suffix         
            
        else:
            silver_billionaire_df.at[idx,'first_name']  = name_parts[0]
            silver_billionaire_df.at[idx,'middle_name'] = name_parts[1]
            silver_billionaire_df.at[idx,'last_name']   = name_parts[2] 
            
    elif len(name_parts) == 4:
        
        silver_billionaire_df.at[idx,'first_name'] = name_parts[0]
        silver_billionaire_df.at[idx,'last_name']  = name_parts[3]

In [ ]:
#Create new columns for longitude and latitude
df1 = pd.DataFrame(columns=['city_of_residence','state_of_residence'])
silver_billionaire_df = silver_billionaire_df.join(df1, how="outer")

In [ ]:
for (idx, data_row) in silver_billionaire_df.iterrows():
    
    if pd.notnull(data_row['residence']):
        
        residence_parts = data_row['residence'].split(',')
        city  = residence_parts[0]
        silver_billionaire_df.at[idx,'city_of_residence'] = city
        
        if pd.notnull(data_row['country']) and data_row["country"] == 'United States' and pd.notnull(data_row['citizenship']) and data_row["citizenship"] == 'United States':
        
            state = residence_parts[1]
            silver_billionaire_df.at[idx,'state_of_residence'] = state.strip()

In [ ]:
#Create new columns for longitude and latitude
df1 = pd.DataFrame(columns=['longitude','latitude'])
silver_billionaire_df = silver_billionaire_df.join(df1, how="outer")

In [ ]:
#Pull out latitude and longitude from geometry column to aide future accessibility to those values

for (idx, data_row) in silver_billionaire_df.iterrows():

    point_parts = data_row["geometry"].split(" ")

    longitude = str(point_parts[1]).replace("(",'') #longitude
    latitude  = str(point_parts[2]).replace(")",'') #latitude
    
    silver_billionaire_df.at[idx,'longitude'] = longitude
    silver_billionaire_df.at[idx,'latitude']  = latitude

In [ ]:
silver_billionaire_df.head(2)

In [ ]:
dupes_df = silver_billionaire_df.groupby('display_name').filter(lambda x: len(x) > 1).sort_values(by=['display_name'])
display(dupes_df)

In [ ]:
# Remove all duplicated records by display name by filtering them out

dupes_df = pd.DataFrame(silver_billionaire_df.groupby('display_name').size().loc[lambda x: x>1].reset_index())
dupes_list = dupes_df["display_name"]
silver_billionaire_df = silver_billionaire_df.loc[~silver_billionaire_df["display_name"].isin(dupes_list)]

In [ ]:
# Filter out records that contain 'and'

and_df = silver_billionaire_df.loc[silver_billionaire_df["display_name"].str.contains("and") | silver_billionaire_df["display_name"].str.contains("&")]
and_list = dupes_list = and_df["display_name"]
silver_billionaire_df = silver_billionaire_df.loc[~silver_billionaire_df["display_name"].isin(and_list)]

In [ ]:
#lower case all column names for postgreSQL
#Source: https://cmdlinetips.com/2020/07/cleaning_up_pandas-column-names/

silver_billionaire_df.rename(columns=str.lower,inplace=True)

In [ ]:
#Populate education history and source of wealth tablews

for (idx, data_row) in silver_billionaire_df.iterrows():

    if pd.notnull(data_row["source_of_wealth"]):
        sources_of_wealth = data_row["source_of_wealth"].split(',')
        
        for source in sources_of_wealth:
            sow_billionaire_id_container.append(idx)
            sow_container.append(source.strip().title())

    if pd.notnull(data_row["education"]):
        education_history = data_row["education"].split(';')
        
        for education in education_history:
            education_billionaire_id_container.append(idx)
            education_container.append(education.strip().title())

In [ ]:
#Remove education and source of wealth columns as they've been normalized into their own tables

silver_billionaire_df.drop(['source_of_wealth', 'education'], axis=1, inplace=True)

In [ ]:
#Set the index of the silver DataFrame

#Source: https://stackoverflow.com/questions/19851005/rename-pandas-dataframe-index
silver_billionaire_df.index.names = ['billionaire_id']

In [ ]:
#Write silver table to postgreSQL

password="postgres"
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Billionaire')
connection = engine.connect()
silver_billionaire_df.to_sql(name='silver_billionaire', con=engine, if_exists='append',index=True)

In [ ]:
#Save silver table to CSV for use in API notebook

silver_billionaire_df.to_csv(f"{cfg.silver_billionaire_csv_path}",header=True,index=True)

In [ ]:
# Build DataFrames from sources of wealth and education containers

source_of_wealth_df = pd.DataFrame({'billionaire_id' : sow_billionaire_id_container,
                                    'wealth_source'  : sow_container})

education_history_df = pd.DataFrame({'billionaire_id' : education_billionaire_id_container,
                                    'education'       : education_container})

In [ ]:
#Write source of wealth table to postgreSQL

password="postgres"
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Billionaire')
connection = engine.connect()
source_of_wealth_df.to_sql(name='source_of_wealth', con=engine, if_exists='append',index=False)

In [ ]:
#Write education history to postgreSQL

password="postgres"
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/Billionaire')
connection = engine.connect()
education_history_df.to_sql(name='education_history', con=engine, if_exists='append',index=False)

In [ ]:
#Save education history and source of wealth DataFrames to CSV

source_of_wealth_df.to_csv(f"{cfg.silver_billionaire_csv_path}",header=True,index=True)
education_history_df.to_csv(f"{cfg.silver_billionaire_csv_path}",header=True,index=True)